
/* Configuração para mobile */
@media screen and (max-width: 992px) {
    .conteudo{
      width: 90%;     
      display: block;
      margin: auto;    
    }

    .horarios{
      height: 515px;
      width:93%;
    }
  
    .ListaDeBotoes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .botoesDehorarios{
        width: 90% ;
    }

    .LocaisDisponiveis{
        width: 90%;
        height: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .LocaisInformacoes{
        width: 90%;
    }

    .ListaDeEquipamentos{
        width: 90%;
        height: 600px;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    ul{
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .resultadosEncontrados{
      margin-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .alinhamentoDosHorarios .posicaoHorario{
        position: relative;
        left: 70%;
    }

    .inputVersoMobile{
    background-color: blue;
    margin: auto;
    margin-left: 100px;
    }
}


