/* Configuração para desktop */
@font-face {
  font-family: gotham-black;
  src: url(./Fonts/gotham-black.woff2.url);
}

*{
  font-family: gotham-black;
  margin: 0%;
  padding: 0%;
}


.cabecarioEInfomarcoes{
  margin: 20px;
}

main{
  margin:20px;
  font-family: gotham-black;
}

.cabecario{
  background-color: #070707;
  display: flex;
  justify-content: center;
  height: 110px;  
}

.logoCabecario{
  height:60px;
  display:block;
  margin: auto;
}

.logoFooter{
  width: 100px;
  height: 120px;
}


footer{
  background-color: #808080;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.creditosDoFooter{
position: relative;
top:-20px;
color: white;
}

.caixaBlack{
  height: 10px;
  width: 100px;
  background-color: #333333;
}


ul{
  width: 890px;
  background-color: #dcd8d8;
  height: 150px;
  list-style: none;
  display: flex;
  gap: 5px;
  overflow: hidden;
  justify-content: center;
}

li{
  margin: 10px;  
  height: 120px;
  width: 200px;
  text-align: center;
}

.listaDeEquipamentos{
  display: flex;
  justify-content: center; 
}

.imagemsEquipementos{
  display: flex;
  justify-content: space-around;
  padding: 10PX;
}

.Imagens{
  width:50px;
  height: 50px;
}

.listaDeRecomendacao{
  display: flex;
  justify-content: space-around;  
}

.locaisDisponiveis{
  height: 363px;
  width: 100%px;
  display: flex;
  gap: 20px;
  justify-content: center;
  overflow: hidden;
}

.locaisInformacoes{
  padding: 10px;
  width: 268px;
  height: 330px;
  background-color: #dcd8d8;
  border: #d1bfbf solid 1px; 
  border-radius: 10px;
}

.lugarAberto{
  color: #2FC022;
  font-weight:1000;
}

.lugarFechado{
color: #dc0a17;
font-weight:1000;
}

.equipamentoCor{
  color:#333333;
  font-weight:1000;
}

.listadeImagemsEquipamentosEmLocaisDisponiveis{
display: flex;
justify-content: space-around;

}
.imagemsEquipamentosEmLocaisDisponiveis{
  width: 50px;
  height: 50px;
}

h1{
  font-family: gotham-black;
}

.horarios{
  padding: 10px;
  height: 420px ;
  width: 870px;
  border:5px solid #dcd8d8;
  border-radius: 10px ;
}

#horariosCorTexto{
  color: #dcd8d8;
}

.botoesDehorarios{
  width: 200px;
  height: 40px;
  transition: ease-in-out 0.2s;
  border:2px solid #dcd8d8;
  border-radius: 5px;
  font-weight:1000;
  cursor: pointer;
  background-color: #FFB612;
}

.BotoesDeHorarios{
  width: 200px;
  height: 40px;
  transition: ease-in-out 0.2s;
  border:2px solid #dcd8d8;
  border-radius: 5px;
  font-weight:1000;
  cursor: pointer;
  background-color: #d8d8d8;
}

.botoesDehorarios:hover{
  background-color:  #dfaa2e;
  transform: 0.2s;
  border: none;   
}

.listaDeBotoes{
  display: flex;
  justify-content: center;
  gap:20px;
}

.imagemDoRelogio{
  width: 40px;
  height: 40px;
}

.relogio{
  display: flex; 
}

.relogioTexto{
  margin-left:10px ;
  position: relative;
  top:10px;
}

.conteudo{
  display: flex;
  flex-direction: column; 
  align-items: center;  
}

.alinhamentoDosHorarios .posicaoHorario{ 
  position: relative;
  left: 740px;
  top:-17px;   
}

.resultadosEncontrados{
  margin-left:445px;
  
}

.alinharCabecario{
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 900px;
}

.cabecarioEInfomarcoes{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#alinharTeXtosNoHeader{
  position: relative;
  margin-left: -20px;
  font-weight: bold;
  font-size: 22px;
  font-family: gotham-black;
}

.AcertivText{
  width: 720px;
  display: flex;

}

.primeiraeLinhaDoForm{
  margin-top: 10px;
}

.perguntaEmHorarios{
  margin-left:10px ;
  color: #808080;
}

.posicaoHorario{
  margin: -11px;
  color: #808080;
}
 
.alinhamentoDosHorarios{   
  color: #808080;
  font-family: gotham-black; 
}
